@use '../../sass/variables' as *;

.home {
    &__products {
        padding: 0px 166px 166px;
        display: flex;
        flex-wrap: wrap;
        gap: 6rem;
        justify-content: center;
    }

    &__card {
        width: 330px;
        height: 337px;
        border: solid 1px $border-background-card;
        border-radius: 8px;
    }

    &__card-description {
        padding: 16px;
        text-align: center;
    }

    p {
        padding-bottom: 11px;
    }

    button {
        background-color: $contrast-color;
        padding: 8px 16px;
        border: 1px solid $border-background-card;
    }

    a {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }

}